/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
    &::after {
        content: "";
        background: url("../img/vector-search.svg") no-repeat 100% center/100%;
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
    }
}
.search-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
    .quick-search {
        display: flex;
        align-items: center;
        border: 2px solid #5AA9E6;
        border-radius: 64px;
        height: 64px;
        max-width: 800px;
        width: 100%;
        background-color: #fff;
        .select-language-container {
            padding: 16px;
            position: relative;
            .select-toggle {
                display: flex;
                align-items: center;
                span {
                    height: 32px;
                    width: 32px;
                    border-radius: 32px;
                    display: block;
                    font-size: 0;
                }
                &[data-value="us"] {
                    span {
                        background: url("../img/country/us.png") no-repeat 100% center/100%;
                    }
                }
                &[data-value="gb"] {
                    span {
                        background: url("../img/country/gb.png") no-repeat 100% center/100%;
                    }
                }
                &[data-value="fr"] {
                    span {
                        background: url("../img/country/fr.png") no-repeat 100% center/100%;
                    }
                }
            }
        }
        .select-language-list {
            display: none; /* Hidden by default */
            list-style: none;
            padding: 0;
            margin: 0;
            border: 1px solid #ccc;
            max-height: 200px;
            overflow-y: auto;
            position: absolute;
            top: 52px;
            left: 13px;
            background: #fff;
            z-index: 9;
            width: 200px;
            text-align: left;
            border-radius: 8px;
            li {
                display: flex;
                align-items: center;
                gap: 8px;
                cursor: pointer;
                padding: 8px 10px;
                &:hover {
                    background-color: #EFF7FD;
                }
                img {
                    width: 16px;
                    height: 16px;
                    border-radius: 16px;
                }
            }
        }
        .search-input-group {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            input {
                width: 100%;
                height: 100%;
                &:focus, &:focus-visible {
                    border: none !important;
                    outline: none !important;
                }
            }
            button {
                width: 64px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

/*--------------------------------------------------------------
# /Hero Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Conjugation Section
--------------------------------------------------------------*/

.indicative-wrapper,
.conditional-wrapper {
  --background-hd-color: #5AA9E6;
  --background-wp-color: #EFF7FD;
  background: var(--background-wp-color);
  border-radius: 8px;
  border: 1px solid var(--background-hd-color);
  overflow: hidden;
  margin-bottom: 16px;
    .mode {
        color: #fff;
        background-color: var(--background-hd-color);
        padding: 8px 10px;
        font-size: 20px;
        font-weight: 500;
    }
    .indicative-content,
    .conditional-content {
        padding: 16px;
    }
    .tempsheader {
        font-size: 16px;
        font-weight: 500;
        color: var(--background-hd-color);
    } 
    .tempstab {
        margin-bottom: 32px;
    }

    .tempscorps {
        color: #333;
        p {
            margin-bottom: 0;
        }
        b {
            color: #e50000;
            font-weight: 400;
        }
    }
}

.conditional-wrapper {
  --background-hd-color: #FF6392;
  --background-wp-color: #FFF0F5;
}

.loudspeaker {
  margin-bottom: 16px;
}
/*--------------------------------------------------------------
# /Conjugation Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Footer Section
--------------------------------------------------------------*/
.main {
    position: relative;
    &::after {
        content: "";
        background: url("../img/bg-footer.svg") no-repeat 100%;
        position: absolute;
        z-index: 2;
        width: 350px;
        height: 350px;
        bottom: 0;
        right: 0;
        z-index: 1;
    }
    .section {
        position: relative;
        z-index: 2;
        &.hero {
            z-index: 3;
        }
    }
}
/*--------------------------------------------------------------
# /Footer Section
--------------------------------------------------------------*/